<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <rosparam command="load" file="$(find grasp_handle)/config/baxter_grasp_data.yaml"/>    

    <node name="tug_grasp_object_node" pkg="tug_grasp_object" type="grasp_object_node" />

  <!-- Launch grasp handle -->
  <node name="grasp_handle" launch-prefix="$(arg launch_prefix)" pkg="grasp_handle" 
	type="grasp_handle_node" output="screen">
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
    <remap from="/joint_states" to="/robot/joint_states" />
  </node>

 



</launch>
