<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Launch grasp handle -->
  <node name="grasp_handle" launch-prefix="$(arg launch_prefix)" pkg="grasp_handle" 
	type="grasp_handle_node" output="screen">
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
    <remap from="/joint_states" to="/robot/joint_states" />
  </node>

 
    <rosparam command="load" file="$(find moveit_simple_grasps)/config/baxter_grasp_data.yaml"/>    



</launch>
